{% if site.footer-links.dribbble %}
<a aria-label="dribbble icon" href="https://dribbble.com/{{ site.footer-links.dribbble }}">
    <i class="lazy svg-icon dribbble"></i>
</a> {% endif %} {% if site.footer-links.email %}
<a aria-label="email icon" href="mailto:{{ site.footer-links.email }}">
    <i class="lazy svg-icon email"></i>
</a> {% endif %} {% if site.footer-links.facebook %}
<a aria-label="facebook icon" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <i class="lazy svg-icon facebook"></i>
</a> {% endif %} {% if site.footer-links.flickr%}
<a aria-label="flickr icon" href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <i class="lazy svg-icon flickr"></i>
</a> {% endif %} {% if site.footer-links.github %}
<a aria-label="github icon" href="https://github.com/{{ site.footer-links.github }}">
    <i class="lazy svg-icon github"></i>
</a>{% endif %} {% if site.footer-links.instagram %}
<a aria-label="instagram icon" href="https://instagram.com/{{ site.footer-links.instagram }}">
    <i class="lazy svg-icon instagram"></i>
</a> {% endif %} {% if site.footer-links.linkedin %}
<a aria-label="linkedin icon" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="lazy svg-icon linkedin"></i>
</a> {% endif %} {% if site.footer-links.pinterest %}
<a aria-label="pinterest icon" href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
    <i class="lazy svg-icon pinterest"></i>
</a> {% endif %} {% if site.footer-links.rss %}
<a aria-label="rss icon" href="{{ site.baseurl }}/feed.xml">
    <i class="lazy svg-icon rss"></i>
</a> {% endif %} {% if site.footer-links.twitter %}
<a aria-label="twitter icon" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <i class="lazy svg-icon twitter"></i>
</a>{% endif %} {% if site.footer-links.stackoverflow %}
<a aria-label="stackoverflow icon" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <i class="lazy svg-icon stackoverflow"></i>
</a> {% endif %} {% if site.footer-links.youtube %}
<a aria-label="youtube icon" href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="lazy svg-icon youtube"></i>
</a> {% endif %} {% if site.footer-links.googleplus %}
<a aria-label="googleplus icon" href="https://plus.google.com/{{ site.footer-links.googleplus }}">
    <i class="lazy svg-icon googleplus"></i>
</a> {% endif %}